:root{
    --lightgreen: #16BA0A;
    --green: #2ABD1B;
    --white: #FFFF;
    --dark: #383636;
    --card-h2: #343434;
    --card-badge: #4B4B4B;
    --card-info: #BF733E;
    --box-color: #464646;
    --img-background-color: #3a3a3adc;
    --nav-background-color: #343434;
    --nav-listEnd-color: #F4F4F4;
    --nav-listEnd-color-shadow: #A2A2A2;
}
/* nav-head */
.nav-head{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    background-color: var(--nav-background-color);
}
.nav-list{
    display: flex;
    list-style: none;
}
.nav-list li{
    padding: 0 2.2rem;
}
.nav-list a{
    text-decoration: none;
    color: var(--nav-listEnd-color);
    transition: 0.5s;
}
.nav-list a:hover{
    color: var(--white);
    text-shadow: 2px 2px 5px var(--nav-listEnd-color-shadow);
}

/* lost content */